# .gitignore


.venv/
venv/
.env
venv*/
*.zip

database/data_zips/demonstracoes_contabeis
database/data_zips/operadoras
database/data_etl/csv_processed/
database/data_etl/extract/

pdf_files/
pdf_files/.pdf
zip_files/
csv_files/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd


pyvenv.cfg


**/site-packages/